{% extends 'layout.twig' %}

{% block title %}Список постов{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <form method="post" action="/api" class="form-inline">
        <div class="form-group">
            <label>Superhero name</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>

    <h5>Всего записей: {{ paginate.total }}</h5>

    {% for item in paginate.docs %}
        <p>{{ item.title }} : {{ item.content }}</p>
    {% endfor %}

    {% if paginate.pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/api/{{ i - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for i in range(1, paginate.pages) %}
                    {% if i == paginate.page %}
                        <li class="active">
                            <span>{{ i }}</span>
                        </li>
                    {% else %}
                        {% if i > 1 %}
                            <li><a href="/api/{{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="/api">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <li>
                    <a href="/api/{{ i + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}