{% extends 'layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <p><a href="">123</a></p>

</div>
{% endblock %}