h1,h2,h3 {
    color: green;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navbar-nav {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.navbar-green {
    background-color: green;
    border-color: green;
}

.navbar-green a {
    color: #fff;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}
body > .container {
    padding: 30px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}